.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}


.navBar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

h1, h2 {
  text-align: center;
  color: white;
}

textarea, input[type="text"], input[type="date"], input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.assigmentButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

nav button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: rgb(221, 31, 31);
}

nav button.filled {
  background-color: green;
}

nav button.filled:hover {
  background-color: rgb(16, 165, 16);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.removeButton {
  background-color: #ff4d4d;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
