.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #192734;
    padding: 10px 20px;
    color: #FFFFFF;
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* width: 100%; */
}

.navBar .navLinks {
    display: flex;
    justify-content: center;
    align-items: center; /* Center nav links vertically */
    gap: 30px;
    list-style: none;
}

.navBar .navLinks a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.navBar .navLinks a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #8899A6;
    width: 0%;
    transition: width 0.3s ease-in-out;
}

.navBar .navLinks .customUnderline:hover::after {
    width: 100%;
}

.navBar .navLinks .activeLink::after {
    background-color: #FFFFFF;
    width: 100%;
}

.navBar .userAccount {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navBar .userAccount button {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    height: 5.5vh;
    width: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.navBar .userAccount button:hover {
    transform: scale(1.1);
}

.navBar .userAccount .userIcon {
    max-height: 100%;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}

.navBar .userAccount button:hover .userIcon {
    transform: scale(1.06);
}

.navBar .logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.navBar .logo .logoIcon {
  flex: 1;
  border: none;
  cursor: pointer;
  max-height: 10vh;
  max-width: 10vh;
  font-size: 25px;
  border-radius: 50%;
}

.logoIcon:hover {
  filter: drop-shadow(0px 0px 10px #1D9BF0);
}

.logo {
    cursor: pointer;
}

.navLinks {
    display: flex;
    gap: 20px;
}

.activeLink {
    font-weight: bold;
    /* text-decoration: underline; */
}

.customUnderline {
    text-decoration: none;
}

.userAccount {
    position: relative;
}

.userButton {
    background: none;
    border: none;
    cursor: pointer;
}

.userIcon {
    width: 24px;
    height: 24px;
}

.dropdownMenu {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
  
.dropdownItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    color: #333;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
    /* text-decoration: underline; */
}

.navBar .userAccount .dropdownMenu button {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    height: 5.5vh;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

.navBar .userAccount .dropdownMenu .dropdownItem {
    text-decoration: none;
}

.dropdownItem:hover {
    background-color: #f5f5f5;
}