.flexContainerHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0rem 0px 0rem 2rem; /* top right bottom left */
  padding: 0rem 0.5rem 0rem 0.5rem;
  border: 0px solid #ccc;
  border-radius: 1.0rem;
  width: calc(100% - 4rem);
  /* max-width: 100%; */
  box-sizing: border-box;
}

.flexContainerAssignmentItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0px solid #ccc;
  border-radius: 1.0rem;
  width: 100%;
  /* max-width: 100%; */
  box-sizing: border-box;
  background-color: #192734;
  transition: background-color 0.3s;
}

.flexContainerAssignmentItem:hover {
    background-color: #253341;
}

.flexContainerAssignment {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem;
  padding: 1.5rem;
  border: 0px solid #ccc;
  border-radius: 1.0rem;
  width: 100%;
  /* max-width: 100%; */
  box-sizing: border-box;
  background-color: #4F5D69;
}

.flexContainerMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid #ccc;
  border-radius: 0.5rem;
  margin: 1px;
}

p {
    color: #8899A6;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

body {
    background-color: #15202B;
}
