.user-profile-container {
    max-width: 600px; /* Adjust max-width as per your design */
    margin: 0 auto; /* Center align the container */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Background color for the container */
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Box shadow for a subtle lift effect */

    /* Optional: Flexbox for aligning items */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-profile-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .user-profile-container div {
    margin-bottom: 15px;
  }

  .user-profile-container .navLinks {
    margin-top: 20px;
  }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background-color: #15202B;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #8899A6;
    max-width: 400px;
    width: 100%;
  }

  .modal-content form div {
    margin-bottom: 15px;
  }

  .modal-content form div label {
    display: block;
    margin-bottom: 5px;
  }

  .modal-content form div input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .modal-content form div button {
    margin-right: 10px;
  }

  .modal-text {
    color: #1D9BF0;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px; /* Adjust border-radius for roundness */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-blue {
    background-color: #22304C;
    color: #FFFFFF; /* Text color */
  }

  .button-dark {
    background-color: #15202B;
    color: #FFFFFF; /* Text color */
    border: 2px solid #000000; /* Black border */

  }

  .button-remove {
    background-color: #15202B;
    color: red; /* Text color */
    border: 2px solid #000000; /* Black border */
  }

  .button:hover {
    opacity: 0.6; /* Reduce opacity on hover for visual feedback */
  }
